

<div class="discussion-container">
    <div class="discussion-header">
        <div class="user-project-info">
            <div class="user-info">
                <div class="user-avatar">
                    <img src="<%= project.user.avatar %>" alt="avatar" />
                </div>
                <div class="user-project-name">
                    <p class="user-name"><%= project.user.name %></p>
                    <p class="slash">/</p>
                    <p class="project-title"><%= project.title %></p>
                    <p class="slash">/</p>
                    <p class="new-issue">discussion</p>
                    <p class="project-visibility">
                        <% if (project.visibility === "public") { %>
                        <i class="fa-solid fa-globe"></i>
                        <% } else { %>
                        <i class="fa-solid fa-lock"></i>
                        <% } %> <%= project.visibility %>
                    </p>
                </div>
            </div>
        </div>

        <div class="discussion-header-right">
            <div class="star-button">
                <i class="fa-regular fa-star"></i>
                <p>Star</p>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="issue-info">
            <div class="info-left">
                <div class="title">
                    <p class="issue-title"><%= issue.title %></p>
                    <p class="issue-number">#<%= index %></p>
                </div>

                <div class="status-stats">
                    <div class="status">
                        <p class="status-value">
                            <% if (issue.status === "open") { %>
                                <i class="fa-solid fa-circle-dot"></i>
                            <% } else { %>
                            <i class="fa-solid fa-check-circle"></i>
                            <% } %>
                            <%= issue.status %>
                        </p>
                    </div>
                    <div class="stats">
                        <p class="user"><%= issue.user.email %> opened this issue 4 days ago</p>
                        <% if (issue.comments.length > 0) { %>
                            <p class="comments"><%= issue.comments.length %> comments</p>
                        <% } else { %>
                            <p class="comments"><%= issue.comments.length %> comment</p>
                        <% } %>

                    </div>
                </div>

            </div>

            <div class="info-right">
                <div class="edit-button">
                    <p>Edit</p>
                </div>
                <div class="new-issue-button">
                    <p>New Issue</p>
                </div>
            </div>
        </div>
    </div>

    <div id="comments-ls" class="comments-list">
        <!-- if the issue is made by owner of the project -->
        <% if (issue.user.email === project.user.email) { %>
            <div class="owner">
        <% } else { %>
            <div class="comment">
        <% } %>
        
            <img src="<%= issue.user.avatar %>" alt="">

                <% if (issue.user.email === project.user.email) { %>
                    <div class="heading">
                        <p class="author-name"><%= issue.user.email %></p>
                        <div class="label">
                            <p class="comment-time">commented 4 days ago</p>
                            <p class="owner-label">Owner</p>
                        </div>
                        
                    </div>
                <% } else { %>
                    <div class="heading">
                        <p class="author-name"><%= issue.user.email %></p>
                        <p class="comment-time">commented 4 days ago</p>
                    </div>
                <% } %>

            <div class="comment-body">
                <p class="comment-text"><%= issue.description %></p>
            </div>

            <div class="vertical-track">
                
            </div>
        </div>

        <% comments.forEach(function(comment) { %>
            <!-- if the comment is made by owner of the project -->
            <% if (comment.user.email === project.user.email) { %>
                <div class="owner">
            <% } else { %>
                <div class="comment">
            <% } %>

                <img src="<%= comment.user.avatar %>" alt="">

                <!-- if the comment is made by owner of the project add owner label -->
                <% if (comment.user.email === project.user.email) { %>
                    <div class="heading">
                        <p class="author-name"><%= comment.user.email %></p>
                        <div class="label">
                            <p class="comment-time">commented 4 days ago</p>
                            <p class="owner-label">Owner</p>
                        </div>
                        
                    </div>
                <% } else { %>
                    <div class="heading">
                        <p class="author-name"><%= comment.user.email %></p>
                        <p class="comment-time">commented 4 days ago</p>
                    </div>
                <% } %>


                <div class="comment-body">
                    <p class="comment-text"><%= comment.content %></p>
                </div>

                <div class="vertical-track">
                    
                </div>
            </div>
        <% }) %>
    </div>

    <div class="border"></div>
    <!-- Add new comment form -->
    <form action="/" method="post" id="new-comment-form">
        <input id="project-id" type="hidden" name="project_id" value="<%= project.id %>">
        <input id="issue-id" type="hidden" name="issue_id" value="<%= issue.id %>">
        <input id="project-index" type="hidden" name="project_index" value="<%= index %>">
        
        <img src="<%= locals.user.avatar %>" alt="">
        <textarea rows="3" minlength="3" name="content" required placeholder="Leave a comment"></textarea>
        <!-- div for labels and submit button -->
        <div class="label-submit">


            <button class="close-issue-button">
                <i class="fa-regular fa-circle-check"></i>
                Close issue</button>

            <!-- new comment -->
            <div class="new-comment">
                <button type="submit" class="submit-button">Comment</button>
                <svg id="comment-loader" class=" hide" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
            </div>


        </div>
        

    </form>
</div>

<script src="/js/NewComment.js"></script>