<div class="issues-container">
    <div class="issue-header">
        <div class="user-project-info">
            <div class="user-info">
                <div class="user-avatar">
                    <img src="<%= project.user.avatar %>" alt="avatar" />
                </div>
                <div class="user-project-name">
                    <p class="user-name"><%= project.user.name %></p>
                    <p class="slash">/</p>
                    <p class="project-title"><%= project.title %></p>
                    <p class="project-visibility">
                        <% if (project.visibility === "public") { %>
                        <i class="fa-solid fa-globe"></i>
                        <% } else { %>
                        <i class="fa-solid fa-lock"></i>
                        <% } %> <%= project.visibility %>
                    </p>
                </div>
            </div>
        </div>

        <div class="issue-header-right">
            <div class="star-button">
                <i class="fa-regular fa-star"></i>
                <p>Star</p>
            </div>
        </div>
    </div>

    

    <!-- <div class="border"></div> -->

    <!-- Filter issues and create new issue div -->
    <div class="filter-create-bar">
        <div class="filter-search">

            <!-- Filter button -->
            <div class="filter">
                <p>Filter</p>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="search">     
                <i class="fa-solid fa-search"></i>
                <input
                    id="search-input"
                    onkeypress="searchIssues(event, '<%= project.id %>')"
                    class="search-input"
                    type="text"
                    placeholder="Search issues by title, author or label"
                />
            </div>
        </div>

        <div class="label-button">
            <i class="fa-solid fa-tag"></i>
            <p>Labels</p>

            
        </div>

        <div class="labels-expanded hide">
            <div class="heading">
                <p>Filter by label</p>
                <i id="close-button" class="fa-solid fa-xmark"></i>
            </div>
            <div class="label-border"></div>

            <div class="labels">
                <div class="label">
                    <i class="fa-solid fa-circle bug"></i>
                    <div class="group">
                        <p class="title">bug</p>
                        <p class="subheading">Something isn't working</p>
                    </div>
                </div>
                
                <div class="label-border"></div>

                <div class="label">
                    <i class="fa-solid fa-circle help"></i>
                    <div class="group">
                        <p class="title">help</p>
                        <p class="subheading">Extra attention is needed</p>
                    </div>
                    
                </div>

                <div class="label-border"></div>

                <div class="label">
                    <i class="fa-solid fa-circle invalid"></i>
                    <div class="group">
                        <p class="title">invalid</p>
                        <p class="subheading">This doesn't seem right</p>
                    </div>
                </div>

                <div class="label-border"></div>

                <div class="label">
                    <i class="fa-solid fa-circle question"></i>
                    <div class="group">
                        <p class="title">question</p>
                        <p class="subheading">Further information is requested</p>
                    </div>
                </div>
            </div>
        </div>

        

        <div onclick="window.location.href = `/issues/<%= project.id %>/new`" class="create-button">
            <p>New Issue</p>
        </div>
    </div>

    <div class="issue-nav">
        

        <div class="issue-nav-item">
            <a class="all-issues <% if (page === 'all') {  %> active <% } %>  " href="/issues/<%= project.id %>/all">All Issues</a>
        </div>
        <div class="issue-nav-item">
            <a class="open-issues <% if (page === 'open') {  %> active-open <% } %>" href="/issues/<%= project.id %>/open">Open Issues</a>
        </div>
        <div class="issue-nav-item">
            <a class="closed-issues <% if (page === 'closed') {  %> active-closed <% } %>" href="/issues/<%= project.id %>/closed"
                >Closed Issues</a
            >
        </div>
        

    </div>

    <p class="hide" id="search-results-heading"><i class="fa-solid fa-search"></i>Search results for Sanam</p>

    <!-- Issues list -->
    <div id="issues-container" class="issues-list">

        <!-- If no issues are present -->
        <% if (issues.length === 0) { %>
        <div class="no-issues">
            <i class="fa-solid fa-circle-dot"></i>
            <p class="heading">Welcome to issues!</p>
            <p class="sub-heading">
                Issues are used to track todos, bugs, feature requests, and more. 
                As issues are created, 
                they’ll appear here in a searchable and filterable list. 
                To get started, you should <span>create an issue</span>.
            </p>
        </div>
        <% } else { %>
        <!-- If issues are present -->
        <% issues.forEach((issue, index) => { %>
            <div class="issue-card">
                <div class="left">
                    <!-- Check if issue is open or closed -->
                    <% if (issue.status === "open") { %>
                        <i  class="fa-solid fa-circle-dot"></i>
                    <% } else { %>
                        <i style="color: #8957E5;" class="fa-regular fa-circle-check"></i>
                    <% } %>

        
                    <div class="info">
                        <a href="/issues/<%= issue.id %>/discussion/<%= index + 1 %>" class="title"><%= issue.title %></a>
                        <p class="stats"> 1 day ago by <%= issue.user.name %> </p>
                    </div>
                </div>

                <div class="right">
                    <div class="labels">
                        <% issue.labels.forEach((label) => { %>
                            <!-- style according to label -->
                            <% if (label === "bug") { %>
                                <div class="label bug">
                                    <p><%= label %></p>
                                </div>
                            <% } else if (label === "help") { %>
                                <div class="label help">
                                    <p><%= label %></p>
                                </div>
                            <% } else if (label === "invalid") { %>
                                <div class="label invalid ">
                                    <p><%= label %></p>
                                </div>
                            <% } else if (label === "question") { %>
                                <div class="label question">
                                    <p><%= label %></p>
                                </div>
                            <% } %>

                        <% }) %>
                    </div>
                    <div class="comments">
                        <i class="fa-regular fa-message"></i>
                        <p><%= issue.comments.length %></p>
                    </div>
                </div>
            </div>
        <% }) } %>
    </div>

    <div class="tip">
        <p>
            <i class="fa-solid fa-lightbulb"></i>Tip: You can use filter to sort issues.
        </p>
    </div>
</div>

<script src="/js/SearchIssue.js"></script>

<script>
    // label button
    const labelButton = document.querySelector(".label-button");
    const labelsExpanded = document.querySelector(".labels-expanded");
    const xmark = document.getElementById("close-button");

    labelButton.addEventListener("click", () => {
        labelsExpanded.classList.toggle("hide");
    });

    xmark.addEventListener("click", () => {
        console.log('clicked')
        labelsExpanded.classList.toggle("hide");
    });

    
</script>

