<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>NodeJs Authentication </title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="<%= assetPath('css/user_sign_up.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/user_sign_in.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">

    <link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/left.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/main.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/right.css') %>">

    <link rel="stylesheet" href="<%= assetPath('css/project_card.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/issues.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/new_issue.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/discussion.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/projects.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/search.css') %>">

    <link rel="stylesheet" href="<%= assetPath('css/new_project.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/landing.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/forgot_password.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/password_reset.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/iziToast.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/navbar.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/menu.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">



</head>
<body>
    
    <%- include('navbar'); %>

    <% if (locals.user) { %>
        <%- include('menu'); %>
    <% } %>
    
    <div id="main-body">
        <%- body %>
    </div>



    <%- script %>
    <script src="<%= assetPath('js/iziToast.js') %>"></script>

    <script>

        
        <% if (flash.success && flash.success.length > 0) { %> 
            iziToast.success({
                title: 'Success',
                message: '<%= flash.success %>',
                theme: 'dark',
                backgroundColor: 'linear-gradient(130deg, rgba(18,119,243,1) 0%, rgba(11,73,149,1) 97%)',
                position: 'topCenter',
                progressBarColor: 'white',
                transitionInMobile: 'fadeInUp',
                transitionOutMobile: 'fadeOutUp',
                
            });
        <% } %>

        <% if (flash.error && flash.error.length > 0) { %> 
            iziToast.error({
                title: 'Error',
                message: '<%= flash.error %>',
                theme: 'dark',
                backgroundColor: '#AA0808',
                position: 'topCenter',
                progressBarColor: 'white',
                transitionInMobile: 'fadeInUp',
                transitionOutMobile: 'fadeOutUp',
            });
        <% } %>

        <% if (flash.info && flash.info.length > 0) { %> 
            iziToast.warning({
                title: 'Caution',
                message: '<%= flash.info %>',
                theme: 'dark',
                backgroundColor: '#FFB300',
                position: 'topCenter',
                progressBarColor: 'white',
                transitionInMobile: 'fadeInUp',
                transitionOutMobile: 'fadeOutUp',
            });

            // On redirect show the signupcontainer
            signInContainer.classList.toggle('remove');
            signUpContainer.classList.toggle('remove');
            
            
        <% } %>

        <% if (flash.warning && flash.warning.length > 0) { %> 
            iziToast.error({
                title: 'Error',
                message: '<%= flash.warning %>',
                theme: 'dark',
                backgroundColor: '#AA0808',
                position: 'topCenter',
                progressBarColor: 'white',
                transitionInMobile: 'fadeInUp',
                transitionOutMobile: 'fadeOutUp',
            });
            
            // On redirect show the forgotpasswordcontainer
            signInContainer.classList.toggle('remove');
            forgotPasswordContainer.classList.toggle('remove');
            
            
        <% } %>
        
    </script>
    <script src="<%= assetPath('js/Favorites.js') %>"></script>

</body>
</html>