

<div class="new-issue-container">
    <div class="issue-header">
        <div class="user-project-info">
            <div class="user-info">
                <div class="user-avatar">
                    <img src="<%= project.user.avatar %>" alt="avatar" />
                </div>
                <div class="user-project-name">
                    <p class="user-name"><%= project.user.name %></p>
                    <p class="slash">/</p>
                    <p onclick="window.location.href = `/issues/<%= project.id %>/all`" class="project-title"><%= project.title %></p>
                    <p class="slash">/</p>
                    <p class="new-issue">New-issue</p>
                    <p class="project-visibility">
                        <% if (project.visibility === "public") { %>
                        <i class="fa-solid fa-globe"></i>
                        <% } else { %>
                        <i class="fa-solid fa-lock"></i>
                        <% } %> <%= project.visibility %>
                    </p>
                </div>
            </div>
        </div>

        <div class="issue-header-right">
            <!-- Check if the project is in favorites or not -->
            <% if (favorites && favorites.projects && favorites.projects.includes(project.id)) { %>
                <div id="starred-<%= project.id %>" onclick="removeFromFavorites('<%= project.id %>', 'starred')" class="star-button">
                    <i class="fa-solid fa-star"></i>
                    <p>Starred</p>
                </div>
            <% } else { %>
                
                <div id="star-<%= project.id %>" onclick="addToFavorites('<%= project.id %>', 'star')" class="star-button">
                    <i class="fa-regular fa-star"></i>
                    <p>Star</p>
                </div>
            <% } %>
        </div>
    </div>

    <form action="/new-issue/<%= project.id %>/new/create" method="post" id="new-issue-form">
        <input id="project-id" type="hidden" name="project_id" value="<%= project.id %>">
        <input id="labels" type="hidden" name="label" value="bug">
        <input id="status" type="hidden" name="status" value="open">
        
        <img src="<%= locals.user.avatar %>" alt="">
        <p class="form-title">Post new Issue</p>
        <input type="text" name="title" placeholder="Title" required />
        <textarea rows="3" minlength="3" name="description" required placeholder="Leave a comment"></textarea>
        <!-- div for labels and submit button -->
        <div class="label-submit">
            <div class="labels">
                <p onclick="selectLabel(event)" class="label bug bug-selected label-selected">bug</p>
                <p onclick="selectLabel(event)" class="label help">help</p>
                <p onclick="selectLabel(event)" class="label invalid">invalid</p>
                <p onclick="selectLabel(event)" class="label question">question</p>
            </div>

            <div  class="new-issue-button">
                <button type="submit"  class="submit-button">Submit</button>
                <svg id="issue-loader" class=" hide" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
            </div>
        </div>
        

    </form>

    <div class="info">
        <i class="fa-solid fa-circle-info"></i>
        <p class="info-text"> Provide clear and concise information and choose the appropriate labels.</p>
    </div>


    <%- include('footer', {bottom: true}); %>
</div>

<script src="<%= assetPath('js/NewIssue.js') %>"></script>
