
<div onclick="window.location.href = `/issues/<%= project.id %>`" class="card-container">
    <div class="user-info">
        <img src="<%= project.user.avatar %>" alt="">
        <p class="user-name"><%= project.user.name %> </p>
        <p class="day">yesterday</p>
    </div>

    <div class="project-info">
        <p class="title"><%= project.title %> </p>
        <p class="description"><%= project.description %> </p>

        <div class="card-footer">
            <p class="type"><i class="fa-solid fa-circle"></i><%= project.type %> Application </p>
            <p class="stars"><i class="fa-regular fa-star"></i>11.2k</p>
        </div>

        <div class="star-button">
            <i class="fa-regular fa-star"></i>
            <p>Star</p>
        </div>
    </div>

    <div class="issues">
        <p><%= project.issues.length %> Issues</p>
    </div>
</div>