
<div class="card-container">
    <div class="user-info">
        <img src="<%= project.user.avatar %>" alt="">
        <p class="user-name"><%= project.user.name %> </p>
        <p class="day">yesterday</p>
    </div>

    <div  class="project-info">
        <p onclick="window.location.href = `/issues/<%= project.id %>/all`" class="title"><%= project.title %> </p>
        <p class="description"><%= project.description %> </p>

        <div class="card-footer">
            <p class="type"><i class="fa-solid fa-circle"></i><%= project.type %> Application </p>
            <p class="stars"><i class="fa-regular fa-star"></i>11.2k</p>
        </div>
        <!-- Check if the project is in favorites or not -->
        <% if (favorites && favorites.projects && favorites.projects.includes(project.id)) { %>
            <div id="starred-<%= project.id %>" onclick="removeFromFavorites('<%= project.id %>', 'starred')" class="star-button">
                <i class="fa-solid fa-star"></i>
                <p>Starred</p>
            </div>
        <% } else { %>
            
            <div id="star-<%= project.id %>" onclick="addToFavorites('<%= project.id %>', 'star')" class="star-button">
                <i class="fa-regular fa-star"></i>
                <p>Star</p>
            </div>
        <% } %>
        
    </div>

    <div onclick="window.location.href = `/issues/<%= project.id %>/all`" class="issues">
        <p><%= project.issues.length %> Issues</p>
    </div>
</div>
